@font-face {
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-family: "Monserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-family: "Monserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-family: "Monserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.75;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.visually-hidden {
  display: none !important;
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1775px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

:root {
  --color-main: #3f4245;
  --color-theme: #ff4d4d;
  --color-white: #fff;
  --color-main-bg: #e5e5e5;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.swiper-slide {
  width: 80%;
}

.header {
  position: fixed;
  z-index: 20;
  width: 100%;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 42px;
}

.header__left,
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-main);
}

.header__left {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.header__right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 26%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-img {
  width: 53px;
  height: 55px;
}

.header__logo-icon {
  width: 100%;
  height: 100%;
  fill: var(--color-theme);
  stroke: var(--color-theme);
}

.header__logo-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
}

.header__logo-desc span {
  display: inline-block;
  font-weight: 700;
  line-height: 1.25em;
}

.header__phone,
.header__mail {
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
}

.header__search-block {
  position: relative;
  padding-top: 5px;
}

.header__search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
}

.header__search-item input {
  position: relative;
  border: none;
}

.header__search-item input::-webkit-input-placeholder {
  display: inline-block;
  margin-left: 15px;
  padding: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__search-item input::-moz-placeholder {
  display: inline-block;
  margin-left: 15px;
  padding: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__search-item input:-ms-input-placeholder {
  display: inline-block;
  margin-left: 15px;
  padding: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__search-item input::-ms-input-placeholder {
  display: inline-block;
  margin-left: 15px;
  padding: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__search-item input::placeholder {
  display: inline-block;
  margin-left: 15px;
  padding: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__search-logo {
  position: absolute;
  left: -5px;
  top: 8px;
  display: block;
  width: 15px;
  height: 15px;
}

.header__search-icon {
  width: 100%;
  height: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0 0 40px;
  cursor: pointer;
}

.header__menu-icon {
  position: relative;
  max-height: 18px;
}

.header__menu-line {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 2px;
  background-color: var(--color-main);
}

.header__menu-desc {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.header .big-line {
  left: -30%;
  top: 50%;
  width: 28px;
  -webkit-transform: translate(-120%, -50%);
      -ms-transform: translate(-120%, -50%);
          transform: translate(-120%, -50%);
}

.header .small-line {
  width: 14px;
}

.header .small-line:first-child {
  left: -30%;
  top: 5%;
  -webkit-transform: translate(-240%, 50%);
      -ms-transform: translate(-240%, 50%);
          transform: translate(-240%, 50%);
}

.header .small-line:last-child {
  top: 70%;
  -webkit-transform: translate(-140%, 50%);
      -ms-transform: translate(-140%, 50%);
          transform: translate(-140%, 50%);
}

.main {
  color: var(--color-main);
}

.main .nav {
  height: calc(100% - 220px);
}

.main .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 100%;
}

.main .nav-item {
  margin: 12px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.main .nav-item:hover {
  opacity: 0.75;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 90px;
  width: 100%;
  height: 100vh;
  min-width: 0;
}

.main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 90%;
  min-width: 0;
}

.main-slider__wrapper {
  width: calc(100% - 200px);
  height: 90%;
  min-width: 0;
}

.main-slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.main-slider__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 90px;
  height: 100%;
  min-width: 0;
  max-width: 560px;
}

.main-slider__left .modal-active {
  -webkit-animation: close-modal 1.4s linear;
          animation: close-modal 1.4s linear;
}

.main-slider__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-width: 35%;
}

.main-title {
  margin: 20px 0;
  font-weight: 500;
  font-size: 80px;
  line-height: 90px;
}

.main-title span {
  display: inline-block;
  width: 100%;
}

.main-desc {
  padding: 0 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.main-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0 0;
  padding: 15px 0;
  width: 100%;
}

.main-btns .btn-full {
  margin-right: 15px;
}

.main__recall {
  position: absolute;
  left: 3%;
  bottom: 3%;
  z-index: 3;
  display: block;
  width: 150px;
  height: 150px;
}

.main__recall-logo {
  position: relative;
  width: 100%;
  height: auto;
}

.main__recall-circle {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 40px;
  width: 75px;
  height: 75px;
  background-color: var(--color-theme);
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.main__recall-circle::before,
.main__recall-circle::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 19px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

.main__recall-circle::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.main__recall-icon {
  width: 100%;
  max-width: 100%;
}

@-webkit-keyframes recall-text {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes recall-text {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.btn {
  display: inline-block;
  border: 2px solid var(--color-main);
  border-radius: 50px;
  padding: 1em 0;
  width: 100%;
  max-width: 200px;
  max-height: 47px;
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.btn:hover {
  opacity: 0.75;
}

.btn-full {
  color: var(--color-white);
  background-color: var(--color-main);
}

.theme-color {
  color: var(--color-theme);
}

.arrow {
  position: relative;
  display: inline-block;
  margin-left: 26px;
  border-top: 2px solid var(--color-main);
  border-right: 2px solid var(--color-main);
  width: 10px;
  height: 10px;
}

.arrow::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -4px;
  width: 2px;
  height: 16px;
  background-color: var(--color-main);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 180px;
}

.main-socials__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 7px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background-color: var(--color-main);
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.main-socials__link:hover {
  opacity: 0.75;
}

.main-socials__icon {
  display: inline-block;
  margin: 0 auto;
  max-width: 19px;
  max-height: 19px;
  text-align: center;
}

.main-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 180px;
}

.main-pagination__num {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.main-pagination progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0 15px;
  border: none;
  width: 86px;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-pagination progress::-webkit-progress-bar {
  background-color: #d9d9da;
}

.main-pagination progress::-webkit-progress-value {
  background-color: var(--color-main);
  -webkit-animation: animate-stripes 5s linear infinite;
          animation: animate-stripes 5s linear infinite;
}

.main-slider__modal-services {
  display: none;
}

.main-slider__modal-services .modal-active {
  -webkit-animation: open-modal 1.4s linear;
          animation: open-modal 1.4s linear;
}

.main-slider__modal-item {
  border-top: 1px solid #e6e6e6;
  padding: 5px 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-slider__modal-item:hover {
  border-top: 1px solid #333;
}

.main-slider__modal-item:hover .main-slider__modal-title {
  color: var(--color-theme);
}

.main-slider__modal-wrapper {
  width: 100%;
}

.main-slider__modal-title {
  margin: 3px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}

.main-slider__modal-desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: var(--color-main);
}

.main-slider__modal__left-content .modal-active {
  -webkit-animation: close-modal 1.4s linear;
          animation: close-modal 1.4s linear;
}

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

@-webkit-keyframes open-modal {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }

  10% {
    display: block;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes open-modal {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }

  10% {
    display: block;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes close-modal {
  0% {
    display: block;
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  90% {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }

  100% {
    display: none;
  }
}

@keyframes close-modal {
  0% {
    display: block;
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  90% {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }

  100% {
    display: none;
  }
}

.main__circles-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.main__circles {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.circle-s,
.circle-m {
  position: absolute;
}

.main__circle {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle-s {
  width: 1400px;
  height: 1400px;
}

.circle-m {
  width: 2142px;
  height: 2118px;
}

.circle-s .main__circle {
  -webkit-transform: rotate(33deg);
      -ms-transform: rotate(33deg);
          transform: rotate(33deg);
}

.circle-m .main__circle {
  -webkit-transform: rotate(42deg);
      -ms-transform: rotate(42deg);
          transform: rotate(42deg);
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--color-main-bg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.modal-container {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 100px 0 0;
  width: 100%;
  height: auto;
  max-width: 1270px;
  cursor: default;
}

.modal-menu {
  height: auto;
}

.modal-menu__item {
  margin: 31px 0;
  padding-left: 51px;
}

.modal-menu__item .modal-menu__link {
  font-family: "Monserrat", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2em;
  color: var(--color-main);
}

.modal-menu__item::marker {
  content: "0" counter(list-item) ".";
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-main);
}

.modal-menu-wrapper {
  width: 100%;
}

.modal-menu__desc {
  display: none;
}

.modal-menu__desc-title {
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-main);
}

.modal-menu__desc-title .modal-menu__desc-link:hover {
  opacity: 0.75;
}

.modal-menu__desc-item {
  margin: 15px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-main);
}

.modal-menu__desc-item:hover {
  text-decoration: underline;
}

.modal-menu__desc-link:hover {
  opacity: 1;
}

.modal-menu__desc-content {
  max-width: 240px;
}

.flex-jc-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}