@font-face {
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  background-color: var(--color-main-bg);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease, background-color 0.3s ease;
}

a:hover {
  color: var(--color-theme);
}

a:hover::before,
a:hover::after,
a:hover .header__menu-line {
  background-color: var(--color-theme);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.visually-hidden {
  display: none !important;
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1775px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

:root {
  --color-main: #3f4245;
  --color-theme: #ff4d4d;
  --color-white: #fff;
  --color-main-bg: #f0f0f0;
  --color-input-border: #a6aaae;
  --color-input: #afb3b8;
}

.theme-red {
  --color-theme: #ff4d4d;
}

.theme-blue {
  --color-theme: #0085ff;
}

.theme-green {
  --color-theme: #4bc357;
}

.theme-yellow {
  --color-theme: #ffbf1c;
}

.theme-purple {
  --color-theme: #aa4ef2;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.swiper-slide {
  width: 80%;
}

.header {
  position: fixed;
  z-index: 20;
  width: 100%;
}

.header .container {
  padding-top: 42px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__left {
  justify-content: space-between;
}

.header__right {
  justify-content: space-between;
  width: 26%;
}

.header__logo {
  display: flex;
}

.header__logo-img {
  width: 55px;
  height: 55px;
}

.header__logo-icon {
  width: 100%;
  height: 100%;
  fill: var(--color-theme);
  stroke: var(--color-theme);
}

.header__logo-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
  color: var(--color-main);
  pointer-events: none;
}

.header__logo-desc span {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25em;
}

.header__search-btn {
  display: block;
  padding-top: 5px;
  cursor: pointer;
}

.header__search-btn:hover .header__search-icon {
  fill: var(--color-theme);
}

.header__search-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.header__search-logo {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.header__search-icon {
  width: 100%;
  height: 100%;
  fill: var(--color-main);
  transition: fill 0.3s ease;
}

.header__phone {
  margin-left: 145px;
}

.header__mail {
  margin-left: 75px;
}

.header__left,
.header__right {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-main);
}

.header__phone,
.header__mail {
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
}

.header__menu {
  display: flex;
  padding: 8px 0 0 40px;
  cursor: pointer;
}

.header__menu-icon {
  position: relative;
  max-height: 18px;
}

.header__menu-line {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 2px;
  background-color: var(--color-main);
  transition: background-color 0.3s ease;
}

.header__menu-desc {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.header .big-line {
  left: -30%;
  top: 50%;
  width: 28px;
  transform: translate(-120%, -50%);
}

.header .small-line {
  width: 14px;
}

.header .small-line:first-child {
  left: -30%;
  top: 5%;
  transform: translate(-240%, 50%);
}

.header .small-line:last-child {
  top: 70%;
  transform: translate(-140%, 50%);
}

.main {
  overflow: hidden;
  color: var(--color-main);
}

.main .nav {
  left: -15px;
  top: 10px;
  width: 200px;
  height: calc(100% - 220px);
}

.main .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main .nav-item {
  position: relative;
  margin: 12px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  transform: translate(0, 0);
  transition: opacity 0.2s linear, transform 0.2s linear;
  cursor: pointer;
}

.main .nav-item::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 65px;
  height: 2px;
  background: var(--color-theme);
  transform: translate(-300%, -50%);
}

.main .nav-item:hover {
  opacity: 0.75;
}

.main .nav-item.active-link {
  color: var(--color-theme);
  transform: translate(20px, 0);
}

.main .nav-item.active-link::before {
  transform: translate(-120%, -50%);
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  width: 100%;
  height: 100vh;
  min-width: 0;
}

.main-slider {
  position: relative;
  display: flex;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
}

.main-slider__wrapper {
  width: calc(100% - 200px);
  height: 99%;
  min-width: 0;
}

.main-slider__item {
  position: relative;
  display: flex;
  width: 80%;
}

.main-slider__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 175px;
  padding-left: 95px;
  width: 100%;
  min-width: 0;
}

.main-slider__left-content {
  display: block;
  padding: 0 0 40px;
}

.main-slider__left.is-active {
  display: none;
  animation: close-slider-modal 0.3s linear;
  animation-fill-mode: forwards;
}

.main-slider__right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 35%;
}

.main-slider__img {
  position: absolute;
  bottom: 0;
  width: fit-content;
}

.main-title {
  margin: 6px 0 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -2.6px;
}

.main-title span {
  display: inline-block;
  width: 100%;
}

.main-desc {
  padding: 20px 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.35px;
}

.main-btns {
  display: flex;
  margin: 35px 0 0;
  padding: 15px 0 15px 5px;
  width: 100%;
}

.main-btns .btn-full {
  margin-right: 15px;
}

.main-btns .btn-full:hover {
  color: #fff;
}

.main__recall {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  width: 150px;
  height: 150px;
}

.main__recall-logo {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main__recall-circle {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 40px;
  width: 75px;
  height: 75px;
  background-color: var(--color-theme);
  transform: translate(50%, 50%);
}

.main__recall-circle::before,
.main__recall-circle::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 19px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(0deg);
}

.main__recall-circle::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.main__recall-icon {
  position: relative;
  width: 100%;
  max-width: 100%;
  animation: recall-text 10s linear infinite;
  animation-delay: 0.1s;
}

.main__recall:hover {
  opacity: 1;
}

.main__recall:hover .main__recall-icon {
  opacity: 1;
}

.main__recall:hover .main__recall-circle {
  opacity: 0.75;
}

@keyframes recall-text {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn {
  display: inline-block;
  border: 2px solid var(--color-main);
  border-radius: 50px;
  padding: 1em 0;
  width: 100%;
  max-width: 200px;
  max-height: 47px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-main);
  transition: opacity 0.2s ease;
}

.btn:hover {
  color: var(--color-main);
  opacity: 0.75;
}

.btn-full {
  color: var(--color-white);
  background-color: var(--color-main);
}

.theme-color {
  color: var(--color-theme);
}

.arrow {
  position: relative;
  display: inline-block;
  margin-left: 26px;
  border-top: 2px solid var(--color-main);
  border-right: 2px solid var(--color-main);
  width: 10px;
  height: 10px;
}

.arrow::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -4px;
  width: 2px;
  height: 16px;
  background-color: var(--color-main);
  transform: rotate(45deg);
}

.main-footer {
  position: absolute;
  bottom: 40px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding-left: 180px;
  width: 100%;
}

.main-socials__wrapper {
  display: flex;
  width: 100%;
}

.main-socials__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 7px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background-color: var(--color-main);
  transition: opacity 0.3s;
}

.main-socials__link:hover {
  background-color: var(--color-theme);
}

.main-socials__icon {
  display: inline-block;
  margin: 0 auto;
  max-width: 19px;
  max-height: 19px;
  text-align: center;
  fill: #fff;
}

.main-pagination {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-left: 100px;
  max-width: 180px;
}

.main-pagination__num {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.main-pagination progress {
  appearance: none;
  margin: 0 15px;
  border: none;
  width: 86px;
  height: 2px;
  box-sizing: border-box;
}

.main-pagination progress::-webkit-progress-bar {
  background-color: #d9d9da;
}

.main-pagination progress::-webkit-progress-value {
  background-color: var(--color-main);
}

.progress {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  width: 86px;
  height: 2px;
  background-color: #d9d9da;
}

.progress-line {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--color-main);
}

.progress-line.animation {
  animation: progress 12000ms linear;
}

@keyframes progress {
  0% {
    width: 0%;
  }

  99% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.main-slider__modal-services {
  display: none;
  padding: 35px 5px 0 0;
  width: 100%;
}

.main-slider__modal-services.is-active {
  display: flex;
  animation: open-slider-modal 0.3s linear forwards;
}

.main-slider__modal-title {
  font-family: "Montserrat", sans-serif;
}

.main-slider__modal-list {
  width: 100%;
}

.main-slider__modal-item {
  border-top: 1px solid rgba(51, 51, 51, 0.2);
  min-height: 85px;
  transition: all 0.3s;
  cursor: pointer;
}

.main-slider__modal-item:not(:first-child) {
  margin-top: 5px;
}

.main-slider__modal-item:hover {
  border-top: 1px solid #333;
}

.main-slider__modal-item:hover .main-slider__modal-title {
  color: var(--color-theme);
}

.main-slider__modal-item:hover .arrow {
  border-top: 2px solid var(--color-theme);
  border-right: 2px solid var(--color-theme);
}

.main-slider__modal-item:hover .arrow::after {
  background: var(--color-theme);
}

.main-slider__modal-wrapper {
  width: 100%;
}

.main-slider__modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.3px;
}

.main-slider__modal-title .arrow {
  width: 13px;
  height: 13px;
}

.main-slider__modal-title .arrow::after {
  left: 5px;
  top: -4px;
  height: 22px;
}

.main-slider__modal-desc {
  margin: 5px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: var(--color-main);
}

@keyframes open-modal {
  0% {
    display: none;
    opacity: 0;
    transform: translate(0, -100%);
  }

  10% {
    display: block;
  }

  100% {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes open-slider-modal {
  0% {
    display: none;
    opacity: 0;
    transform: translate(0, -100%);
  }

  1% {
    display: flex;
  }

  100% {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes close-slider-modal {
  0% {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
  }

  60% {
    display: block;
    opacity: 0;
  }

  99% {
    display: block;
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    display: none;
    opacity: 0;
    transform: translate(0, 100%);
  }
}

.nav-back {
  position: absolute;
  left: 2px;
  top: 98px;
  z-index: 100;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.05px;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s linear;
}

.nav-back__icon {
  display: inline-block;
  margin-right: 13px;
  border: 2px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.nav-back.is-active {
  opacity: 1;
  visibility: visible;
}

.arrow-back {
  position: relative;
  left: 50%;
  top: 50%;
  display: block;
  width: 13px;
  height: 2px;
  background-color: #333;
  transform: translate(-50%, -50%);
}

.arrow-back::before,
.arrow-back::after {
  content: "";
  position: absolute;
  left: 2px;
  width: 2px;
  height: 7px;
  background-color: #333;
}

.arrow-back::before {
  top: -5px;
  transform: rotate(45deg);
}

.arrow-back::after {
  top: 0;
  transform: rotate(-45deg);
}

.nav-list {
  align-items: flex-start;
}

.main-slider__wrapper {
  position: relative;
  display: flex;
  margin-left: auto;
}

.swiper-container {
  display: block;
  overflow: hidden;
  width: 100%;
  min-width: 0;
  max-width: 50%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.main-slider__left {
  margin-top: 175px;
  padding: 0 30px 0 15px;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  max-width: -webkit-fill-available;
  overflow: hidden;
}

.main-slider__left-content {
  padding: 0;
  width: 100%;
  min-width: 0;
}

.main-slider__left-content.is-active {
  display: none;
  animation: close-slider-modal 0.3s linear;
}

.nav {
  position: absolute;
  left: 0;
  top: 0;
}

.main-slider__img {
  left: 14%;
  margin: 0 auto;
}

.main-slider__img picture {
  user-select: none;
}

.main-slider__swiper-pagination.swiper-pagination-custom {
  position: absolute;
  left: initial;
  right: 85px;
  top: 63px;
  z-index: 3;
  width: 50%;
}

.main-slider__left-container {
  margin: 0 0 0 60px;
  width: 75%;
  user-select: none;
}

.big-circle-inside {
  opacity: 0;
}

.svg-nav__element.active-link .big-circle {
  stroke: var(--color-theme);
  stroke-opacity: 1;
  stroke-width: 4;
}

.svg-nav__element.active-link .big-circle-inside {
  opacity: 1;
}

.svg-nav__element.active-link .svg-ellipse {
  animation: animate-1 0.3s ease-in forwards;
}

.svg-ellipse {
  stroke-width: 3;
}

@keyframes animate-1 {
  from {
    stroke-width: 0;
    stroke-dashoffset: -210;
    stroke-dasharray: 0, 210;
  }

  to {
    stroke: var(--color-theme);
    stroke-dashoffset: 0;
    stroke-dasharray: 420, 0;
    stroke-width: 2;
  }
}

.svg-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.svg-link:hover {
  opacity: 1;
}

.main__circles-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.main__circles {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.circle-s,
.circle-m {
  position: absolute;
}

.main__circle {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle-s {
  width: 1400px;
  height: 1400px;
}

.circle-m {
  width: 2142px;
  height: 2118px;
}

.circle-s .main__circle {
  transform: rotate(33deg);
}

.circle-m .main__circle {
  transform: rotate(42deg);
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--color-main-bg);
  transform: translate(100%, 0);
  transition: 0.3s;
}

.modal::-webkit-scrollbar {
  position: absolute;
  right: 3px;
  width: 5px;
}

.modal::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 8px;
  background: var(--color-main);
}

.modal-header {
  position: fixed;
  left: 65px;
  top: 38px;
}

.modal-footer {
  position: absolute;
  right: 80px;
  bottom: 0px;
  padding-bottom: 20px;
}

.modal-footer .main-socials__wrapper {
  justify-content: flex-end;
}

.modal-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.modal-container {
  position: relative;
  display: none;
  margin: 0 auto;
  padding: 100px 0 0;
  width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transform: translate(-100%, -100%);
  cursor: default;
}

.modal-container.is-active {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  animation: open-modal 0.3s linear;
}

.modal-content {
  padding: 0 5px;
}

.modal-close {
  appearance: none;
  position: absolute;
  right: 65px;
  top: 38px;
  border: 2px solid var(--color-main);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: transparent;
  transition: opacity 0.3s;
  cursor: pointer;
}

.modal-close span {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.modal-close span::before,
.modal-close span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 21px;
  height: 2px;
  background-color: var(--color-main);
}

.modal-close span::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close span::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close:hover {
  opacity: 0.75;
}

.modal-menu {
  height: auto;
}

.modal-menu__container {
  margin: 0 auto;
  width: 100%;
  max-width: 1270px;
}

.modal-menu__item {
  margin: 31px 0;
  padding-left: 51px;
}

.modal-menu__item .modal-menu__link {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2em;
  color: var(--color-main);
}

.modal-menu__item .modal-menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-main);
  opacity: 0;
  transition: opacity 0.3s;
}

.modal-menu__item .modal-menu__link:hover::after {
  opacity: 1;
}

.modal-menu__item::marker {
  content: "0" counter(list-item) ".";
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-main);
}

.modal-menu-wrapper {
  width: 100%;
}

.modal--menu {
  height: calc(100vh - 80px);
  background: url("../img/big-ellipse.svg") no-repeat;
  background-position: 0% 100%;
}

.modal-menu__desc {
  position: relative;
  display: none;
  background-color: var(--color-main-bg);
}

.modal-menu__desc-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-main);
  transition: opacity 0.3s;
}

.modal-menu__desc-title:hover {
  opacity: 0.75;
}

.modal-menu__desc-item {
  margin: 15px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-main);
}

.modal-menu__desc-item:hover .modal-menu__desc-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid var(--color-main);
  transition: all 0.3s;
}

.modal-menu__desc-link {
  position: relative;
}

.modal-menu__desc-link:hover {
  opacity: 1;
}

.modal-menu__desc-content {
  max-width: 240px;
}

.flex-jc-sb {
  display: flex;
  justify-content: space-between;
}

.is-active {
  transform: translate(0, 0);
}

.modal-recall .modal-title {
  position: relative;
  margin: 18px 0 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 75px;
  line-height: 90px;
  letter-spacing: -3px;
  color: var(--color-main);
}

.modal-recall .modal-title__logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 35px;
}

.modal-recall .modal-title__icon {
  width: 100%;
  height: 100%;
  fill: var(--color-main);
}

.modal-recall .modal-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-main);
}

.modal-recall .modal-form__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-recall .modal-form__inputs {
  width: 100%;
  max-width: 515px;
}

.modal-recall .modal-form__input {
  margin: 75px 0 30px;
}

.modal-recall .modal-form__input input {
  display: block;
  outline: 1px solid transparent;
  border: none;
  border-bottom: 1px solid var(--color-input-border);
  width: 100%;
  height: 42px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: var(--color-main);
  background-color: transparent;
}

.modal-recall .modal-form__input input::placeholder {
  font-size: 22px;
  line-height: 35px;
  color: var(--color-input);
}

.modal-recall .modal-form__input input:active,
.modal-recall .modal-form__input input:focus,
.modal-recall .modal-form__input input:target {
  outline: 2px solid #5f5f5f;
}

.modal-recall .modal-form__input-full textarea {
  border: none;
  border-bottom: 1px solid var(--color-input-border);
  width: 100%;
  height: 105px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-input);
  background-color: var(--color-main-bg);
}

.modal-recall .modal-form__input-title {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-main);
}

.modal-recall .modal-form__input-full {
  flex: 1 1 100%;
}

.modal-recall .modal-form__submit-container {
  display: flex;
  flex-direction: column;
  margin: 10px auto 0;
  padding: 20px 0 30px;
  max-width: 546px;
}

.modal-recall .modal-form__label {
  position: relative;
}

.modal-recall .modal-form input:checked + .modal-form__label-check {
  background-image: url("../img/check.svg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: var(--color-main);
}

.modal-recall .modal-form__label-check {
  position: absolute;
  left: 0;
  top: 2px;
  display: inline-block;
  border: 1px solid var(--color-main);
  border-radius: 5px;
  width: 21px;
  height: 21px;
}

.modal-recall .modal-form__label-text {
  display: inline-block;
  padding-left: 22px;
  width: 100%;
  max-width: 516px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-main);
}

.modal-recall .modal-form button {
  display: block;
  margin: 27px auto 0;
  border: 2px solid var(--color-main);
  border-radius: 45px;
  width: 100%;
  height: 50px;
  max-width: 401px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--color-main-bg);
  opacity: 1;
  transition: all 0.3s;
  cursor: pointer;
}

.modal-recall .modal-form button:active {
  transform: scale(0.9);
}

.modal-recall .modal-form button:disabled {
  opacity: 0.75;
}

.modal--search,
.modal--search-result {
  padding-top: 0;
}

.search {
  height: calc(100vh - 100px);
}

.search-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.search-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02px;
  color: var(--color-main);
}

.search-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search-label {
  position: relative;
  flex: 0 0 80%;
}

.search-input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-input-border);
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 35px;
  background-color: var(--color-main-bg);
}

.search-input::-webkit-search-cancel-button {
  appearance: none;
  display: none;
}

.search-btn {
  appearance: none;
  background-color: var(--color-main-bg);
  cursor: pointer;
}

.btn-delete {
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translate(0%, -50%);
  transition: opacity 0.3s;
  cursor: pointer;
}

.btn-delete::before,
.btn-delete::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: var(--color-main);
}

.btn-delete::before {
  transform: rotate(45deg);
}

.btn-delete::after {
  transform: rotate(-45deg);
}

.btn-delete:hover {
  opacity: 0.75;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0;
  width: 100%;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--color-main);
}

.result-wrapper .main-slider__modal-title {
  padding: 5px 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
}

.result-wrapper .main-slider__modal-desc {
  margin: 5px 0;
  padding: 0 15px;
  min-height: 45px;
  max-width: 750px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.35px;
  opacity: 0.75;
  transition: opacity 0.3s;
}

.result-wrapper .main-slider__modal-title .arrow::after {
  left: 3px;
}

.result-wrapper .notfound-title {
  margin: 125px 0 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 75px;
  line-height: 82px;
  letter-spacing: -2.3px;
  color: var(--color-main);
}

.found {
  padding: 0 5px;
  letter-spacing: 0.1px;
}

.result-item {
  cursor: pointer;
}

.result-item:not(:first-child) {
  margin-top: 28px;
}

.result-item:hover .main-slider__modal-desc {
  opacity: 1;
}

.result-list {
  margin-top: 50px;
}

.result-found {
  padding: 0 5px;
}

.found-count {
  display: inline-block;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  background: var(--color-theme);
}

@keyframes open-modal {
  0% {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  10% {
    display: block;
    visibility: visible;
  }

  100% {
    opacity: 1;
  }
}

.footer {
  color: var(--color-main);
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-list__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.footer-left {
  max-width: 60%;
}

.footer-sublinks {
  font-family: "Roboto", sans-serif;
}

.footer-sublinks__title {
  margin: 8px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.05px;
}

.footer-sublinks__title a {
  position: relative;
}

.footer-sublinks__title a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-main);
  opacity: 0;
  transition: opacity 0.3s;
}

.footer-sublinks__title a:hover::after {
  opacity: 1;
}

.footer-sublinks__item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.03px;
}

.footer-sublinks__item a {
  position: relative;
}

.footer-sublinks__item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-main);
  opacity: 0;
  transition: opacity 0.3s;
}

.footer-sublinks__item a:hover::after {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */
