<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <div class="footer-list__wrapper">
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#" class="footer-list__link">
              <h5 class="footer-list__title">Услуги</h5>
            </a>
            <div class="footer-sublinks">

              <div class="footer-sublinks__container">
                <h6 class="footer-sublinks__title">
                  <a href="#">Внедрение ERP систем</a>
                </h6>
                <div class="footer-sublinks__wrapper is-hidden">
                  <ul class="footer-sublinks__list">
                    <li class="footer-sublinks__item">
                      <a href="#">Производство</a>
                    </li>
                    <li class="footer-sublinks__item">
                      <a href="#">Финансы</a>
                    </li>
                    <li class="footer-sublinks__item">
                      <a href="#">Управленческий учет в ERP</a>
                    </li>
                    <li class="footer-sublinks__item">
                      <a href="#">Продажи и CRM</a>
                    </li>
                    <li class="footer-sublinks__item">
                      <a href="#">Логистика, закупки и склад</a>
                    </li>
                    <li class="footer-sublinks__item">
                      <a href="#">Все блоки автоматизации</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="footer-sublinks__container">
                <h6 class="footer-sublinks__title">
                  <a href="#">Продукты на базе 1С</a>
                </h6>
                <div class="footer-fublinks__wrapper"></div>
              </div>

              <div class="footer-sublinks__container">
                <h6 class="footer-sublinks__title">
                  <a href="#">Интеграция с 1С</a>
                </h6>
                <div class="footer-fublinks__wrapper"></div>
              </div>

              <div class="footer-sublinks__container">
                <h6 class="footer-sublinks__title">
                  <a href="#">Консалтинг</a>
                </h6>
                <div class="footer-fublinks__wrapper"></div>
              </div>

              <div class="footer-sublinks__container">
                <h6 class="footer-sublinks__title">
                  <a href="#">Поддержка 1С</a>
                </h6>
                <div class="footer-fublinks__wrapper"></div>
              </div>

            </div>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-list__link">
              <h5 class="footer-list__title">Продукты</h5>
            </a>
            <div class="footer-sublinks">
              <div class="footer-sublinks__container">
                <h6 class="footer-sublinks__title">
                  <a href="#"></a>
                </h6>
                <div class="footer-sublinks__wrapper">
                  <ul class="footer-sublinks__list">
                    <li class="footer-sublinks__item">
                      <a href="#">Металургия</a>
                    </li>
                    <li class="footer-sublinks__item">
                      <a href="#">Мясокомбинаты</a>
                    </li>
                    <li class="footer-sublinks__item">
                      <a href="#">Ритейл</a>
                    </li>
                    <li class="footer-sublinks__item">
                      <a href="#">Другие продукты</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-list__link">
              <h5 class="footer-list__title">Решения</h5>
            </a>
            <div class="footer-sublinks__wrapper">
              <ul class="footer-sublinks__list">
                <li class="footer-sublinks__item">
                  <a href="#">Ценообразование</a>
                </li>
                <li class="footer-sublinks__item">
                  <a href="#">Логистика</a>
                </li>
                <li class="footer-sublinks__item">
                  <a href="#">Другие решения</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-list__link">
              <h5 class="footer-list__title">Кейсы</h5>
            </a>
            <div class="footer-sublinks__wrapper">
              <ul class="footer-sublinks__list">
                <li class="footer-sublinks__item">
                  <a href="#">Продукты</a>
                </li>
                <li class="footer-sublinks__item">
                  <a href="#">Услуги</a>
                </li>
                <li class="footer-sublinks__item">
                  <a href="#">Решения</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-right"></div>
  </div>
</footer>
