<header class="header">
  <div class="container">

    <div class="header__wrapper">
      <div class="header__left">

        <div class="header__logo">
          <a href="/" class="header__logo">
            <div class="header__logo-img">
              <svg class="header__logo-icon">
                <use xlink:href="img/icons/icons.svg#logo"></use>
              </svg>
            </div>
            <div class="header__logo-desc">
              <span>Теорема</span>
              <span>Бизнеса</span>
            </div>
          </a>
        </div>

        <div class="header__information">
          <div>
            <a href="tel:+74958888000" class="header__phone">+7 (495) 888-80-00</a>
          </div>

          <div>
            <a href="mailto:info@teoremabiznesa.ru" class="header__mail">info@teoremabiznesa.ru</a>
          </div>
        </div>



      </div>

      <div class=" header__right">

        <div>
          <a href="#" class="header__search-btn modal-open btns" data-modal-open="modal-search">

            <div class="header__search-logo">
              <svg class="header__search-icon">
                <use xlink:href="img/icons/icons.svg#search-1"></use>
              </svg>
            </div>

            <span class="header__search-text">Поиск</span>

          </a>
        </div>



        <div>
          <a class="header__menu modal-open btns" data-modal-open="modal-menu">
            <div class="header__menu-icon">
              <span class="header__menu-line small-line"></span>
              <span class="header__menu-line big-line"></span>
              <span class="header__menu-line small-line"></span>
            </div>
            <span class="header__menu-desc">Меню</span>
          </a>
        </div>

      </div>
    </div>




  </div>
</header>
