<main class="main">

  <div class="main-circle">
    <svg class="main-circle-icon" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" width="120vw" height="120vw">
      <circle cx="22.5" cy="22.5" r="22.5" stroke="#D8D8D8" stroke-width="0.03"/>
      <animateTransform attributeName="transform" begin="0s" type="rotate" from="360 0 0" to="0 0 0" dur="25s"
        repeatCount="indefinite" />
    </svg>
  </div>

  <div class="main-circle">
    <svg class="main-circle-icon" viewBox="0 0 45 45" xmlns="http://www.w3.org/2000/svg" width="120vw" height="120vw">
      <circle cx="22.5" cy="22.5" r="22.5" stroke="#D8D8D8" stroke-width="0.03"/>
      <animateTransform attributeName="transform" begin="0s" type="rotate" from="0 0 0" to="360 0 0" dur="50s"
        repeatCount="indefinite" />
    </svg>
  </div>

  <div class="container">

    <div class="main-content">

      @include('parts/main-slider.html')

      @include('parts/main-footer.html')

    </div>

  </div>

</main>
