<main class="main">

  <div class="main-circle">
    <svg class="main-circle-icon" viewBox="0 0 1400 1400" xmlns="http://www.w3.org/2000/svg">
      <circle cx="700" cy="700" r="699" stroke="#D8D8D8"/>
      <animateTransform attributeName="transform" begin="0s" type="rotate" from="0 0 0" to="360 0 0" dur="25s"
        repeatCount="indefinite" />
    </svg>
  </div>

  <div class="main-circle">
    <svg class="main-circle-icon" viewBox="0 0 2120 2120" xmlns="http://www.w3.org/2000/svg">
      <circle cx="1060" cy="1060" r="1059" stroke="#D8D8D8"/>
      <animateTransform attributeName="transform" begin="0s" type="rotate" from="0 0 0" to="360 0 0" dur="50s"
        repeatCount="indefinite" />
    </svg>
  </div>

  <div class="container">

    <div class="main-content">

      @include('parts/main-slider-second-try.html')

      @include('parts/main-footer.html')

    </div>

  </div>

</main>
