<div class="main-footer">

  <a href="#" class="main__recall open-modal btns" data-modal-open="modal-recall">
    <div class="main__recall-logo">

      <div class="main__recall-circle"></div>

      <svg class="main__recall-icon">
        <use xlink:href="img/icons/icons.svg#callback-text"></use>
      </svg>
    </div>
  </a>

  <div class="main-pagination">
    <span class="main-pagination__num pagination-count"></span>
    <!-- <progress max="600" value="0"></progress> -->
    <div class="progress">
      <span class="progress-line"></span>
    </div>
    <span class="main-pagination__num pagination-max"></span>
  </div>

  <div class="main-socials">
    <div class="main-socials__wrapper">

      <a href="#" class="main-socials__link">
        <svg class="main-socials__icon">
          <use xlink:href="img/icons/icons.svg#fb"></use>
        </svg>
      </a>

      <a href="#" class="main-socials__link">
        <svg class="main-socials__icon">
          <use xlink:href="img/icons/icons.svg#inst"></use>
        </svg>
      </a>

      <a href="#" class="main-socials__link">
        <svg class="main-socials__icon">
          <use xlink:href="img/icons/icons.svg#tg"></use>
        </svg>
      </a>

      <a href="#" class="main-socials__link">
        <svg class="main-socials__icon">
          <use xlink:href="img/icons/icons.svg#yt"></use>
        </svg>
      </a>

    </div>
  </div>

</div>
