<div class="main-slider__left-modal">

  <div class="main-slider__modal-services" data-sector="erp">

    <ul class="main-slider__modal-list">

      <li class="main-slider__modal-item">
        <div class="main-slider__modal-wrapper">
          <h3 class="main-slider__modal-title">Производство</h3>
          <p class="main-slider__modal-desc">Затраты, Себестоимость</p>
        </div>
      </li>

      <li class="main-slider__modal-item">
        <div class="main-slider__modal-wrapper">
          <h3 class="main-slider__modal-title">Финансы</h3>
          <p class="main-slider__modal-desc">Бюджетирвоание, Казначейство, РСБУ</p>
        </div>
      </li>

      <li class="main-slider__modal-item">
        <div class="main-slider__modal-wrapper">
          <h3 class="main-slider__modal-title">Управленческий учет в ERP</h3>
          <p class="main-slider__modal-desc"></p>
        </div>
      </li>

      <li class="main-slider__modal-item">
        <div class="main-slider__modal-wrapper">
          <h3 class="main-slider__modal-title">Продажи и CRM</h3>
          <p class="main-slider__modal-desc">Логистика, Закупки и склад</p>
        </div>
      </li>

      <li class="main-slider__modal-item">
        <div class="main-slider__modal-wrapper">
          <h3 class="main-slider__modal-title">Все блоки автоматизации</h3>
          <p class="main-slider__modal-desc"></p>
        </div>
      </li>

      <li class="main-slider__modal-item">
        <div class="main-slider__modal-wrapper">
          <h3 class="main-slider__modal-title"></h3>
          <p class="main-slider__modal-desc"></p>
        </div>
      </li>

    </ul>

  </div>

</div>
