<div class="main-slider swiper-container">

  <nav class="nav">

    <a href="#" class="nav-back">
      <div class="nav-back__icon">
        <span class="arrow-back"></span>
      </div>

      Назад
    </a>

    <ul class="nav-list swiper-pagination">

      <li class="nav-item" data-nav="red">
        Внедрение ERP систем
      </li>
      <li class="nav-item" data-nav="blue">
        Продукты на базе 1С
      </li>
      <li class="nav-item" data-nav="green">
        Интеграция с 1С
      </li>
      <li class="nav-item" data-nav="yellow">
        Консалтинг
      </li>
      <li class="nav-item" data-nav="purple">
        Поддержка 1С
      </li>

    </ul>
  </nav>

  <div class="main-slider__wrapper swiper-wrapper">

    <div class="main-slider__item swiper-slide" data-color="red">

      <div class="main-slider__left">
        <div class="main-slider__left-content">
          <h2 class="main-title">
            <span class="theme-color">Внедрение</span>
            ERP систем
          </h2>

          <div class="main-desc">
            Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности требуют
            определения и уточнения новых предложений.
          </div>

          <div class="main-btns">
            <a href="#" class="btn btn-full">Подробнее</a>
            <a href="#" class="btn open-modal-slider" data-modal-slider-open=="erp">Услуги<span
                class="arrow"></span></a>
          </div>
        </div>

        <div class="main-slider__modal-services" data-modal-slider="erp">

          <ul class="main-slider__modal-list">

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Производство <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc">Затраты, Себестоимость</p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Финансы <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc">Бюджетирвоание, Казначейство, РСБУ</p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Управленческий учет в ERP <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Продажи и CRM <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Логистика, Закупки и склад <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Все блоки автоматизации <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

          </ul>

        </div>

      </div>

      <div class="main-slider__right">

        <div class="main-slider__img">
          <picture>
            <img src="../img/illustration1.svg">
            <!-- <img src="../img/illustration1.png"> -->
          </picture>
        </div>

      </div>

    </div>
    <div class="main-slider__item swiper-slide" data-color="blue">

      <div class="main-slider__left">

        <div class="main-slider__left-content">
          <h2 class="main-title">
            <span class="theme-color">Продукты</span>
            на базе 1С
          </h2>

          <div class="main-desc">
            С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу
            специалистов
            участие в формировании соответствующий условий активизации.
          </div>

          <div class="main-btns">
            <a href="#" class="btn btn-full">Подробнее</a>
            <a href="#" class="btn open-modal-slider" data-modal-slider-open=="products">Услуги <span
                class="arrow"></span></a>
          </div>
        </div>

        <div class="main-slider__modal-services" data-modal-slider="products">

          <ul class="main-slider__modal-list">

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">1C:Бухгалтерия <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">1C:Предприятие <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">1C:Управление холдингом <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">1C:Налогоплательщик <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc">Логистика, Закупки и склад</p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">1C:Консолидация <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

          </ul>

        </div>

      </div>

      <div class="main-slider__right">

        <div class="main-slider__img">
          <picture>
            <img src="../img/illustration2.svg">
            <!-- <img src="../img/illustration2.png"> -->
          </picture>
        </div>

      </div>

    </div>
    <div class="swiper-slide main-slider__item" data-color="green">
      <div class="main-slider__left">

        <div class="main-slider__left-content">
          <h2 class="main-title">
            <span class="theme-color">Интеграция</span>
            с 1С
          </h2>

          <div class="main-desc">
            С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие
            в формировании соответствующий условий активизации.
          </div>

          <div class="main-btns">
            <a href="#" class="btn btn-full">Подробнее</a>
            <a href="#" class="btn open-modal-slider" data-modal-slider-open=="integration">Услуги <span
                class="arrow"></span></a>
          </div>
        </div>

        <div class="main-slider__modal-services" data-modal-slider="integration">

          <ul class="main-slider__modal-list">

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Axapta <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">ЗУП <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">УПП <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Битрикс <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc">Логистика, Закупки и склад</p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Другие <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

          </ul>

        </div>

      </div>

      <div class="main-slider__right">


        <div class="main-slider__img">
          <picture>
            <img src="../img/illustration3.svg">
            <!-- <img src="../img/illustration3.png"> -->
          </picture>
        </div>

      </div>

    </div>
    <div class="main-slider__item swiper-slide" data-color="yellow">
      <div class="main-slider__left">

        <div class="main-slider__left-content">
          <h2 class="main-title">
            <span class="theme-color">Консалтинг</span>
          </h2>

          <div class="main-desc">
            Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания
            по
            разработке существенных финансовых и административных условий. Разнообразный и богатый опыт постоянный
            количественный рост
            и сфера нашей активности требуют от нас анализа форм развития
          </div>

          <div class="main-btns">
            <a href="#" class="btn btn-full">Подробнее</a>
            <a href="#" class="btn open-modal-slider" data-modal-slider-open=="consalting">Услуги <span
                class="arrow"></span></a>
          </div>

        </div>

        <div class="main-slider__modal-services" data-modal-slider="consalting">

          <ul class="main-slider__modal-list">

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Бизнес анализ <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

            <li class="main-slider__modal-item">
              <div class="main-slider__modal-wrapper">
                <h3 class="main-slider__modal-title">Оптимизация и<br>реинжиниринг БП <span class="arrow"></span></h3>
                <p class="main-slider__modal-desc"></p>
              </div>
            </li>

          </ul>

        </div>

      </div>

      <div class="main-slider__right">


        <div class="main-slider__img">
          <picture>
            <img src="../img/illustration4.svg">
            <!-- <img src="../img/illustration4.png"> -->
          </picture>
        </div>

      </div>

    </div>
    <div class="main-slider__item swiper-slide" data-color="purple">
      <div class="main-slider__left">

        <div class="main-slider__left-content">

          <h2 class="main-title">
            <span class="theme-color">Поддержка 1С</span>
          </h2>

          <div class="main-desc">
            Таким образом начало повседневной работы по формированию
            позиции в значительной степени обуславливает создание
            позиций, занимаемых участниками в отношении поставленных
            задач
          </div>

          <div class="main-btns">
            <a href="#" class="btn btn-full">Подробнее</a>
          </div>

        </div>

      </div>

      <div class="main-slider__right">

        <div class="main-slider__right-content">

          <div class="main-slider__img">
            <picture>
              <img src="../img/illustration5.svg">
              <!-- <img src="../img/illustration5.png"> -->
            </picture>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
