.footer {
  color: var(--color-main);

  &-list {
    display: flex;
    justify-content: space-between;

    &__title {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      text-transform: uppercase;
    }
  }

  &-left {
    max-width: 60%;
  }
}

.footer-sublinks {
  font-family: "Roboto", sans-serif;

  &__wrapper {
  }

  &__title {
    margin: 8px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.05px;

    a {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-main);
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  &__item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.03px;

    a {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-main);
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}
