.main {
  color: var(--color-main);

  .nav {
    height: calc(100% - 220px);

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 200px;
      height: 100%;
    }

    &-item {
      margin: 12px 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 23px;
      text-transform: uppercase;
      transition: opacity 0.2s;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    width: 100%;
    height: 100vh;
    min-width: 0;
  }

  &-slider {
    display: flex;
    align-self: center;
    width: 100%;
    height: 90%;
    min-width: 0;
    // margin: 0 90px;
    // padding: 100px 0 0;
    // max-width: 1200px;

    &__wrapper {
      width: calc(100% - 200px);
      height: 90%;
      min-width: 0;
    }

    &__item {
      position: relative;
      display: flex;
      width: 80%;
    }

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 90px;
      height: 100%;
      min-width: 0;
      max-width: 560px;

      .modal-active {
        animation: close-modal 1.4s linear;
      }
    }

    &__right {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-width: 35%;
    }

    &__img {
      position: absolute;
      bottom: 0;
      width: fit-content;
    }
  }

  &-title {
    margin: 20px 0;
    font-weight: 500;
    font-size: 80px;
    line-height: 90px;

    span {
      display: inline-block;
      width: 100%;
    }
  }

  &-desc {
    padding: 0 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
  }

  &-btns {
    display: flex;
    margin: 35px 0 0;
    padding: 15px 0;
    width: 100%;

    .btn-full {
      margin-right: 15px;
    }
  }

  &__recall {
    position: absolute;
    left: 3%;
    bottom: 3%;
    z-index: 3;
    display: block;
    width: 150px;
    height: 150px;

    &-logo {
      position: relative;
      width: 100%;
      height: auto;
    }

    &-circle {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 40px;
      width: 75px;
      height: 75px;
      background-color: var(--color-theme);
      transform: translate(50%, 50%);

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 2px;
        height: 19px;
        background-color: #fff;
        transform: translate(-50%, -50%) rotate(0deg);
      }

      &::before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &-icon {
      width: 100%;
      max-width: 100%;
    }
  }
}

@keyframes recall-text {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn {
  display: inline-block;
  border: 2px solid var(--color-main);
  border-radius: 50px;
  padding: 1em 0;
  width: 100%;
  max-width: 200px;
  max-height: 47px;
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.75;
  }
}

.btn-full {
  color: var(--color-white);
  background-color: var(--color-main);
}

.theme-color {
  color: var(--color-theme);
}

.arrow {
  position: relative;
  display: inline-block;
  margin-left: 26px;
  border-top: 2px solid var(--color-main);
  border-right: 2px solid var(--color-main);
  width: 10px;
  height: 10px;

  &::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -4px;
    width: 2px;
    height: 16px;
    background-color: var(--color-main);
    transform: rotate(45deg);
  }
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 180px;
}

.main-socials {
  // position: absolute;
  // right: 3%;
  // bottom: 3%;

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: var(--color-main);
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }

  &__icon {
    display: inline-block;
    margin: 0 auto;
    max-width: 19px;
    max-height: 19px;
    text-align: center;
    fill: #fff;
  }
}

.main-pagination {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  max-width: 180px;

  &__num {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  progress {
    appearance: none;
    margin: 0 15px;
    border: none;
    width: 86px;
    height: 2px;
    box-sizing: border-box;

    &::-webkit-progress-bar {
      background-color: #d9d9da;
    }

    &::-webkit-progress-value {
      background-color: var(--color-main);
      animation: animate-stripes 5s linear infinite;
    }
  }
}

// modal

.main-slider__modal {
  &-services {
    display: none;

    .modal-active {
      animation: open-modal 1.4s linear;
    }
  }

  &-item {
    border-top: 1px solid #e6e6e6;
    padding: 5px 0;
    transition: all 0.3s;

    &:hover {
      border-top: 1px solid #333;

      .main-slider__modal-title {
        color: var(--color-theme);
      }
    }
  }

  &-wrapper {
    width: 100%;
  }

  &-title {
    margin: 3px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
  }

  &-desc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: var(--color-main);
  }

  &__left-content {
    .modal-active {
      animation: close-modal 1.4s linear;
    }
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

@keyframes open-modal {
  0% {
    display: block;
    opacity: 0;
    transform: translate(0, -100%);
  }

  10% {
    display: block;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes close-modal {
  0% {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
  }

  90% {
    opacity: 0;
    transform: translate(0, -100%);
  }

  100% {
    display: none;
  }
}
