.main {
  position: relative;
  overflow: hidden;
  color: var(--color-main);

  &-box {
    display: flex;
    height: 100%;
  }

  &-circle {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    fill: none;

    &:first-child {
      stroke-dasharray: 17%;
      transform: translate(40%, -70%);
    }

    &:nth-child(2) {
      stroke-dasharray: 30%;
      transform: translate(15%, -70%);
    }
  }

  .nav {
    left: 0;
    top: -5px;
    width: 200px;
    height: calc(100% - 130px);

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &-item {
      position: relative;
      margin: 12px 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 23px;
      letter-spacing: -0.4px;
      text-transform: uppercase;
      transform: translate(0, 0);
      transition: opacity 0.2s linear, transform 0.2s linear;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 75px;
        height: 2px;
        background: var(--color-theme);
        opacity: 0;
        transform: translate(-250%, -50%);
        transition: transform 0.4s ease, opacity 0.1s ease;
      }

      &:hover {
        opacity: 0.75;
      }

      &.active-link {
        color: var(--color-theme);
        transform: translate(20px, 0);

        &::before {
          opacity: 1;
          transform: translate(-125%, -50%);
        }
      }
    }
  }

  .progress-mobile {
    display: none;
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    height: 100vh;
    min-width: 0;
  }

  &-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 0;

    &__wrapper {
      width: calc(100% - 210px);
      height: 92%;
      min-width: 0;
    }

    &__item {
      position: relative;
      display: flex;
      width: 80%;
    }

    &__left {
      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }

      &.is-active {
        display: none;
        animation: close-slider-modal 0.3s linear;
        animation-fill-mode: forwards;
      }
    }

    &__right {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      img {
        height: auto;
        object-fit: contain;
      }
    }

    &__img {
      &-wrapper {
        position: relative;
        z-index: 10;
        max-width: 40%;
      }
    }
  }

  &-slider__swiper-img {
    position: relative;
    z-index: 15;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  &-slider__pagination-container {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
  }

  &-slider__swiper-text {
    max-width: 50%;
  }

  &-title {
    margin: 6px 0 11px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: -2.6px;
    opacity: 0;
    transform: translate(-15%, 0);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.1s;

    span {
      display: inline-block;
      width: 100%;
    }
  }

  &-desc {
    padding: 20px 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.35px;
    opacity: 0;
    transform: translate(-15%, 0);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.25s;
  }

  &-btns {
    display: flex;
    margin: 35px 0 0;
    padding: 15px 5px;

    .btn {
      margin-right: 15px;
    }

    .btn-full {
      margin-right: 15px;

      &:hover {
        color: #fff;
      }
    }
  }

  &__recall {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    width: 150px;
    height: 150px;

    &-logo {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &-circle {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 40px;
      width: 75px;
      height: 75px;
      background-color: var(--color-theme);
      transform: translate(50%, 50%);

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 2px;
        height: 19px;
        background-color: #fff;
        transform: translate(-50%, -50%) rotate(0deg);
      }

      &::before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &-icon {
      position: relative;
      width: 100%;
      max-width: 100%;
      animation: recall-text 10s linear infinite;
      animation-delay: 0.1s;
    }

    &:hover {
      opacity: 1;

      .main__recall-icon {
        opacity: 1;
      }

      .main__recall-circle {
        opacity: 0.75;
      }
    }
  }
}

@keyframes recall-text {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-main);
  border-radius: 50px;
  width: 100%;
  height: 47px;
  max-width: 200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-main);
  background-color: var(--color-main-bg);
  transition: opacity 0.2s ease;

  &:hover {
    color: var(--color-main);
    opacity: 0.75;
  }
}

.btn-full {
  color: var(--color-white);
  background-color: var(--color-main);
}

.theme-color {
  color: var(--color-theme);
}

.arrow {
  position: relative;
  display: inline-block;
  margin-left: 26px;
  border-top: 2px solid var(--color-main);
  border-right: 2px solid var(--color-main);
  width: 10px;
  height: 10px;

  &::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -4px;
    width: 2px;
    height: 16px;
    background-color: var(--color-main);
    transform: rotate(45deg);
  }
}

.main-footer {
  position: absolute;
  bottom: 40px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding-left: 180px;
  width: 100%;
}

.main-socials {
  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 7px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: var(--color-main);
    transition: opacity 0.3s;

    &:hover {
      background-color: var(--color-theme);
    }
  }

  &__icon {
    display: inline-block;
    margin: 0 auto;
    max-width: 19px;
    max-height: 19px;
    text-align: center;
    fill: #fff;
  }
}

.main-pagination {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-left: 100px;
  max-width: 180px;

  &__num {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
}

.progress {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  width: 86px;
  height: 2px;
  background-color: #d9d9da;

  &-line {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-main);
    transform: scaleX(0);
    transform-origin: left;

    &.animation {
      animation: progress 12000ms linear;
    }
  }
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }

  99% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

// modal

.main-slider__modal {
  &-services {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;

    &.is-active {
      display: block;
      animation: open-slider-modal 0.3s linear forwards;
    }
  }

  &-container {
    display: flex;
    margin: 70px auto 0;
    height: 100%;
    max-width: 565px;
  }

  &-title {
    font-family: "Montserrat", sans-serif;
  }

  &-list {
    width: 100%;
  }

  &-item {
    border-top: 1px solid rgba(51, 51, 51, 0.2);
    min-height: 85px;
    transition: all 0.3s;
    cursor: pointer;

    &:not(:first-child) {
      margin-top: 5px;
    }

    &:hover {
      border-top: 1px solid #333;

      .main-slider__modal-title {
        color: var(--color-theme);
      }

      .arrow {
        border-top: 2px solid var(--color-theme);
        border-right: 2px solid var(--color-theme);
      }

      .arrow::after {
        background: var(--color-theme);
      }
    }
  }

  &-wrapper {
    width: 100%;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.3px;

    .arrow {
      width: 13px;
      height: 13px;

      &::after {
        left: 5px;
        top: -4px;
        height: 22px;
      }
    }
  }

  &-desc {
    margin: 5px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: var(--color-main);
  }
}

@keyframes open-modal {
  0% {
    display: none;
    opacity: 0;
    transform: translate(0, -100%);
  }

  10% {
    display: block;
  }

  100% {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes open-slider-modal {
  0% {
    display: none;
    opacity: 0;
    transform: translate(0, -100%);
  }

  1% {
    display: flex;
  }

  100% {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes close-slider-modal {
  0% {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
  }

  60% {
    display: block;
    opacity: 0;
  }

  99% {
    display: block;
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    display: none;
    opacity: 0;
    transform: translate(0, 100%);
  }
}

.nav-back {
  position: absolute;
  left: 2px;
  top: 98px;
  z-index: 100;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.05px;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s linear, color 0.2s ease-in-out;

  &__icon {
    display: inline-block;
    margin-right: 13px;
    border: 2px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: border 0.2s ease-in-out;
  }

  &:hover {
    .arrow-back {
      background-color: var(--color-theme);

      &::before,
      &::after {
        background-color: var(--color-theme);
      }
    }

    .nav-back__icon {
      border: 2px solid var(--color-theme);
    }
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.arrow-back {
  position: relative;
  left: 50%;
  top: 50%;
  display: block;
  width: 13px;
  height: 2px;
  background-color: #333;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 2px;
    width: 2px;
    height: 7px;
    background-color: #333;
    transition: background-color 0.2s ease-in-out;
  }

  &::before {
    top: -5px;
    transform: rotate(45deg);
  }

  &::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

.arrow-next {
  position: relative;
  left: 50%;
  top: 50%;
  display: block;
  width: 13px;
  height: 2px;
  background-color: #333;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 2px;
    width: 2px;
    height: 7px;
    background-color: #333;
    transition: background-color 0.2s ease-in-out;
  }

  &::before {
    top: -5px;
    transform: rotate(-45deg);
  }

  &::after {
    top: 0;
    transform: rotate(45deg);
  }
}

.swiper-buttons-mobile {
  display: none;
}


// second try

.nav-list {
  align-items: flex-start;
}

.main-slider__wrapper {
  position: relative;
  display: flex;
  margin-left: auto;
}

.main-slider__left {
  padding: 0 30px 0 15px;
  opacity: 1;
  max-width: -webkit-fill-available;
  overflow: hidden;
}

.main-slider__left-content {
  padding: 0;
  width: 100%;
  min-width: 0;

  &.is-active {
    display: none;
    animation: close-slider-modal 0.3s linear;
  }
}

.nav {
  position: absolute;
  left: 0;
  top: 0;
}

.main-slider__img {
  picture {
    user-select: none;
  }
}

.swiper-pagination-custom {
  width: 100%;
  height: 100%;
}

.main-slider__left-container {
  width: 75%;
  user-select: none;
}

.big-circle-inside {
  fill: #bbbcbd;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.svg-nav__element {
  &:hover {
    .big-circle-inside {
      opacity: 1;
    }
  }

  &.active-link .big-circle {
    stroke: var(--color-theme);
    stroke-opacity: 1;
    stroke-width: 4;
  }

  &.active-link .big-circle-inside {
    fill: var(--color-theme);
    opacity: 1;
  }

  &.active-link .svg-ellipse {
    animation: animate-1 0.3s ease-in forwards;
  }
}

.svg-ellipse {
  stroke-width: 3;
}

@keyframes animate-1 {
  from {
    stroke-width: 0;
    stroke-dashoffset: -210;
    stroke-dasharray: 0, 210;
  }

  to {
    stroke: var(--color-theme);
    stroke-dashoffset: 0;
    stroke-dasharray: 420, 0;
    stroke-width: 2;
  }
}

.svg-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;

  &:hover {
    opacity: 1;
  }
}

.swiper-slide-active {
  .main-title,
  .main-desc {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.progress-mobile {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.main-slider__right:nth-child(2) .main-slider__img,
.main-slider__right:nth-child(7) .main-slider__img {
  width: 50%;
  transform: translate(-15%, 10%);
}

.main-slider__right:nth-child(3) .main-slider__img {
  width: 90%;
  transform: translate(15%, 13%);
}

.main-slider__right:nth-child(4) .main-slider__img {
  width: 70%;
  transform: translate(-5%, 5%);
}

.main-slider__right:nth-child(5) .main-slider__img {
  width: 70%;
  transform: translate(-5%, 10%);
}

.main-slider__right:nth-child(1) .main-slider__img,
.main-slider__right:nth-child(6) .main-slider__img {
  width: 38%;
  transform: translate(-35%, 10%);
}

@media screen and (max-width: 1820px) {
  .main {
    &-slider {
      &__wrapper {
        width: calc(100% - 240px);
      }

      &__left {
        padding: 0;

        &-content {
        }

        &-container {
          width: 100%;
        }
      }

      &__img-wrapper {
        .main-slider__img {
          width: 80%;
        }
      }
    }

    &-title {
      font-size: 60px;
      line-height: 69px;
    }

    &-desc {
      font-size: 16px;
      line-height: 25px;
    }

    .nav {
      left: 19px;
      top: -7px;

      &-item {
        font-size: 12px;
        line-height: 1.25;
      }
    }

    &-btns {
      margin-top: 24px;
    }

    &__recall {
      left: 20px;
      bottom: 15px;

      &-circle {
        width: 65px;
        height: 65px;
        transform: translate(65%, 65%);
      }
    }
  }

  .nav-back {
    left: 0;
    top: 52px;

    &__icon {
      width: 35px;
      height: 35px;
    }
  }

  .btn {
    max-width: 185px;
  }

  .main-slider__swiper-pagination.swiper-pagination-custom {
    // right: -11px;
    // top: -60px;
  }

  .main-footer {
    bottom: 15px;
  }

  .main-pagination {
    margin-left: 88px;
  }

  .progress {
    margin: 0 15px;
  }

  .main-pagination__num {
    font-size: 18px;
  }

  .main-slider__modal-services {
    margin: 10px 0 0;
    max-width: 460px;
  }

  .main-slider__modal-title {
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  .main-slider__modal-desc {
    margin: 0 0 0 2px;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: -0.3px;
  }

  .main-slider__modal-item {
    min-height: 66px;
  }
}

@media screen and (max-width: 1440px) {
  .main {
    &-circle {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    &-circle {
      display: none;
    }

    &-content {
      height: calc(var(--vh, 1vh) * 100);
    }

    .nav {
      position: absolute;
      left: 7px;
      top: 100px;
      z-index: 1;
      width: 125px;
      height: 35%;

      &-back {
        top: -60px;
      }

      &-item {
        margin: 21px 0;
        font-size: 16px;
        line-height: 22px;
        text-align: left;

        &::before {
          width: 150px;
          transform: translate(-100%, 31px);
        }

        &.active-link {
          transform: translate(0, 0);

          &::before {
            transform: translate(-30%, 31px);
          }
        }
      }
    }

    &-slider {
      &__modal-services {
        max-width: 100%;
      }

      &__modal-container {
        height: auto;
        max-width: 100%;
      }
    }


    &-slider__wrapper {
      flex-direction: column;
      height: 100%;
    }

    &-title {
      font-size: 70px;
      line-height: 80px;
      letter-spacing: -2px;
    }

    &-desc {
      font-size: 18px;
      line-height: 29px;
    }

    &-slider__left {
      margin-top: 30px;
    }

    &-slider__left-container {
      margin: 0 6px;
    }

    &-slider__img-wrapper {
      max-width: 70%;
    }
  }

  .swiper-container {
    width: 100%;
    height: 635px;
    min-height: 0;
    max-width: 100%;
  }

  .btn {
    max-width: 200px;
  }

  .main-slider__swiper-pagination.swiper-pagination-custom {
    top: -30px;
  }

  .main-slider__right .main-slider__img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: static;
  }

  .container {
    padding: 0 10px;
  }

  .main-slider__swiper-img {
    display: none;
  }

  .main-slider__modal-services {
    margin-top: 20px;
    max-width: 100%;

    &.is-active {
      .swiper-buttons-mobile {
        display: none;
      }
    }
  }

  .main-slider__wrapper {
    padding-bottom: 0;
    width: 100%;
    height: auto;
  }

  .main {
    overflow: auto;

    &-box {
      height: auto;
    }

    .container {
      height: calc(100vh - 76px);
    }

    .nav {
      position: static;
      margin: 10px 0 0;
      height: 0;

      &-back {
        position: static;
      }

      &-list {
        display: none;
      }
    }

    &-content {
      justify-content: space-between;
      padding-top: 0;
      height: 100%;
    }

    &-title {
      font-size: 40px;
      line-height: 44px;
    }

    &-desc {
      font-size: 16px;
      line-height: 21px;
    }

    .btn {
      height: 35px;
      font-size: 12px;
      line-height: 16px;
    }

    &-btns {
      flex-direction: column;
      margin: 0;
      padding: 0;

      .btn-full {
        margin-right: 0;
      }
    }

    &-slider {
      display: block;
      height: calc(100% - 76px);

      &__wrapper {
        padding-bottom: 50px;
      }
    }

    &-slider__left {
      margin-top: 0;

      &-content {
        align-items: flex-start;
        height: auto;
        min-height: 0;
      }
    }

    .btn {
      max-width: 98%;

      &.open-modal-slider {
        margin-top: 10px;
      }
    }

    &-slider__left-container {
      margin: 0;
    }

    &-slider__modal-container {
      margin: 0 auto;
    }

    &-footer {
      position: absolute;
      bottom: 0;
      justify-content: space-between;
      padding: 15px 0;
    }

    &-pagination {
      margin-left: 0;
    }

    &__recall,
    &-socials,
    .progress {
      display: none;
    }

    .progress-mobile {
      display: block;
    }
  }

  .swiper-container {
    height: auto;
    max-width: 100%;
  }

  .swiper-buttons-mobile {
    display: flex;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    margin-top: 0;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}
