<div class="slider">

  <div class="slider__wrapper">

    <div class="slider__text">

      <div class="slider__text-content">

        <nav class="nav">

          <a href="#" class="nav-back btns">
            <div class="nav-back__icon">
              <span class="arrow-back"></span>
            </div>

            Назад
          </a>

          <ul class="nav-list swiper-pagination">

            <li class="nav-item" data-nav="red">
              Внедрение ERP систем
            </li>
            <li class="nav-item" data-nav="blue">
              Продукты на базе 1С
            </li>
            <li class="nav-item" data-nav="green">
              Интеграция с 1С
            </li>
            <li class="nav-item" data-nav="yellow">
              Консалтинг
            </li>
            <li class="nav-item" data-nav="purple">
              Поддержка 1С
            </li>

          </ul>
        </nav>

        <div class="main-slider__swiper-text swiper-container">

          <div class="swiper-wrapper">

            <div class="main-slider__left swiper-slide" data-color="red">

              <div class="main-box">

                <div class="main-slider__left-content">

                  <div class="main-slider__left-container">
                    <h2 class="main-title">
                      <span class="theme-color">Внедрение</span>
                      ERP систем
                    </h2>

                    <div class="main-desc">
                      Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности требуют
                      определения и уточнения новых предложений.
                    </div>

                    <div class="main-btns">
                      <a href="#" class="btn btn-full">Подробнее</a>
                      <a href="#" class="btn open-modal-slider btns" data-modal-slider-open="erp">Услуги<span
                          class="arrow"></span></a>
                    </div>
                  </div>

                </div>

                <div class="main-slider__modal-services" data-modal-slider="erp">

                  <div class="main-slider__modal-container">

                    <ul class="main-slider__modal-list">

                      <li class="main-slider__modal-item">
                        <div class="main-slider__modal-wrapper">
                          <h3 class="main-slider__modal-title">Производство <span class="arrow"></span></h3>
                          <p class="main-slider__modal-desc">Затраты, Себестоимость</p>
                        </div>
                      </li>

                      <li class="main-slider__modal-item">
                        <div class="main-slider__modal-wrapper">
                          <h3 class="main-slider__modal-title">Финансы <span class="arrow"></span></h3>
                          <p class="main-slider__modal-desc">Бюджетирвоание, Казначейство, РСБУ</p>
                        </div>
                      </li>

                      <li class="main-slider__modal-item">
                        <div class="main-slider__modal-wrapper">
                          <h3 class="main-slider__modal-title">Управленческий учет в ERP <span class="arrow"></span></h3>
                          <p class="main-slider__modal-desc"></p>
                        </div>
                      </li>

                      <li class="main-slider__modal-item">
                        <div class="main-slider__modal-wrapper">
                          <h3 class="main-slider__modal-title">Продажи и CRM <span class="arrow"></span></h3>
                          <p class="main-slider__modal-desc"></p>
                        </div>
                      </li>

                      <li class="main-slider__modal-item">
                        <div class="main-slider__modal-wrapper">
                          <h3 class="main-slider__modal-title">Логистика, Закупки и склад <span class="arrow"></span></h3>
                          <p class="main-slider__modal-desc"></p>
                        </div>
                      </li>

                      <li class="main-slider__modal-item">
                        <div class="main-slider__modal-wrapper">
                          <h3 class="main-slider__modal-title">Все блоки автоматизации <span class="arrow"></span></h3>
                          <p class="main-slider__modal-desc"></p>
                        </div>
                      </li>
                    </ul>

                  </div>

                </div>
              </div>

            </div>

            <div class="main-slider__left swiper-slide" data-color="blue">

              <div class="main-slider__left-content">
                <div class="main-slider__left-container">
                  <h2 class="main-title">
                    <span class="theme-color">Продукты</span>
                    на базе 1С
                  </h2>

                  <div class="main-desc">
                    С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу
                    специалистов
                    участие в формировании соответствующий условий активизации.
                  </div>

                  <div class="main-btns">
                    <a href="#" class="btn btn-full">Подробнее</a>
                    <a href="#" class="btn open-modal-slider btns" data-modal-slider-open="products">Услуги <span
                        class="arrow"></span></a>
                  </div>

                </div>
              </div>

              <div class="main-slider__modal-services" data-modal-slider="products">

                <div class="main-slider__modal-container">

                  <ul class="main-slider__modal-list">

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">1C:Бухгалтерия <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc"></p>
                      </div>
                    </li>

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">1C:Предприятие <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc"></p>
                      </div>
                    </li>

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">1C:Управление холдингом <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc"></p>
                      </div>
                    </li>

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">1C:Налогоплательщик <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc">Логистика, Закупки и склад</p>
                      </div>
                    </li>

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">1C:Консолидация <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc"></p>
                      </div>
                    </li>

                  </ul>

                </div>

              </div>

            </div>

            <div class="main-slider__left swiper-slide" data-color="green">

              <div class="main-slider__left-content">
                <div class="main-slider__left-container">

                  <h2 class="main-title">
                    <span class="theme-color">Интеграция</span>
                    с 1С
                  </h2>

                  <div class="main-desc">
                    С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие
                    в формировании соответствующий условий активизации.
                  </div>

                  <div class="main-btns">
                    <a href="#" class="btn btn-full">Подробнее</a>
                    <a href="#" class="btn open-modal-slider btns" data-modal-slider-open="integration">Услуги <span
                        class="arrow"></span></a>
                  </div>

                </div>

              </div>

              <div class="main-slider__modal-services" data-modal-slider="integration">

                <div class="main-slider__modal-container">

                  <ul class="main-slider__modal-list">

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">Axapta <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc"></p>
                      </div>
                    </li>

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">ЗУП <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc"></p>
                      </div>
                    </li>

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">УПП <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc"></p>
                      </div>
                    </li>

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">Битрикс <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc">Логистика, Закупки и склад</p>
                      </div>
                    </li>

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">Другие <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc"></p>
                      </div>
                    </li>

                  </ul>

                </div>



              </div>

            </div>

            <div class="main-slider__left swiper-slide" data-color="yellow">

              <div class="main-slider__left-content">
                <div class="main-slider__left-container">

                  <h2 class="main-title">
                    <span class="theme-color">Консалтинг</span>
                  </h2>

                  <div class="main-desc">
                    Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания
                    по
                    разработке существенных финансовых и административных условий. Разнообразный и богатый опыт постоянный
                    количественный рост
                    и сфера нашей активности требуют от нас анализа форм развития
                  </div>

                  <div class="main-btns">
                    <a href="#" class="btn btn-full">Подробнее</a>
                    <a href="#" class="btn open-modal-slider btns" data-modal-slider-open="consalting">Услуги <span
                        class="arrow"></span></a>
                  </div>

                </div>

              </div>

              <div class="main-slider__modal-services" data-modal-slider="consalting">

                <div class="main-slider__modal-container">

                  <ul class="main-slider__modal-list">

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">Бизнес анализ <span class="arrow"></span></h3>
                        <p class="main-slider__modal-desc"></p>
                      </div>
                    </li>

                    <li class="main-slider__modal-item">
                      <div class="main-slider__modal-wrapper">
                        <h3 class="main-slider__modal-title">Оптимизация и<br>реинжиниринг БП <span class="arrow"></span>
                        </h3>
                        <p class="main-slider__modal-desc"></p>
                      </div>
                    </li>

                  </ul>

                </div>



              </div>

            </div>

            <div class="main-slider__left swiper-slide" data-color="purple">

              <div class="main-slider__left-content">

                <div class="main-slider__left-container">

                  <h2 class="main-title">
                    <span class="theme-color">Поддержка 1С</span>
                  </h2>

                  <div class="main-desc">
                    Таким образом начало повседневной работы по формированию
                    позиции в значительной степени обуславливает создание
                    позиций, занимаемых участниками в отношении поставленных
                    задач
                  </div>

                  <div class="main-btns">
                    <a href="#" class="btn btn-full">Подробнее</a>
                  </div>

                </div>

              </div>

            </div>

          </div>


        </div>

      </div>

    </div>

    <div class="slider__img">
      <div class="slider__img-content">
        <div class="main-slider__swiper-img swiper-container">

          <div class="swiper-wrapper">

            <div class="main-slider__right swiper-slide">

              <div class="main-slider__right-content">
                <div class="main-slider__img">
                  <picture>
                    <img src="img/illustration1.svg">
                    <!-- <img src="img/illustration1.png"> -->
                  </picture>
                </div>
              </div>



            </div>

            <div class="main-slider__right swiper-slide">

              <div class="main-slider__right-content">
                <div class="main-slider__img">
                  <picture>
                    <img src="img/illustration2.svg">
                    <!-- <img src="img/illustration2.png"> -->
                  </picture>
                </div>
              </div>



            </div>

            <div class="main-slider__right swiper-slide">

              <div class="main-slider__right-content">

              <div class="main-slider__img">
                  <picture>
                    <img src="img/illustration3.svg">
                    <!-- <img src="img/illustration3.png"> -->
                  </picture>

              </div>

        </div>

            </div>

            <div class="main-slider__right swiper-slide">

              <div class="main-slider__right-content">

                <div class="main-slider__img">
                  <picture>
                    <img src="img/illustration4.svg">
                    <!-- <img src="img/illustration4.png"> -->
                  </picture>
                </div>

              </div>

            </div>

            <div class="main-slider__right swiper-slide">

              <div class="main-slider__right-content">

                <div class="main-slider__img">
                  <picture>
                    <img src="img/illustration5.svg">
                    <!-- <img src="img/illustration5.png"> -->
                  </picture>
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="main-slider__pagination-container">
          <svg class="main-slider__swiper-pagination swiper-pagination" width="671" height="674" viewBox="0 0 671 674"
            fill="none" xmlns="http://www.w3.org/2000/svg">

            <circle cx="334.373" cy="352.234" r="320.68" stroke="#3F4245" stroke-opacity="0.3" />
            <path d="M347.798 32.3619C338.288 31.8598 328.757 31.8538 319.247 32.3441" stroke="#F0F0F0" stroke-width="4" />
            <path d="M518.706 616.332C525.913 610.106 532.79 603.508 539.309 596.567" stroke="#F0F0F0" stroke-width="4" />

            <path d="M644.168 270.371C641.895 261.124 639.141 251.999 635.918 243.039" stroke="#F0F0F0" stroke-width="4" />

            <g class="svg-nav">

              <g class="svg-nav__element" id="red">

                <path class="svg-ellipse"
                  d="M138.393 97.8642C192.548 56.2466 260.348 31.5049 333.926 31.5049C407.505 31.5049 475.305 56.2466 529.46 97.8642" />

                <a class="svg-link" href="#">
                  <g>
                    <path d="M360.074 32.5602C350.557 32.2176 314.48 31.8524 304.979 32.502" stroke="#F0F0F0" stroke-width="9"
                    class="svg-invisible" />
                    <circle class="big-circle" cx="333.532" cy="32.3165" r="14.233" stroke="#3F4245" stroke-opacity="0.3" />
                    <circle class="big-circle-inside" cx="333.53162" cy="32.31629" r="7.99793" />
                  </g>
                </a>

              </g>

              <g class="svg-nav__element" id="blue">

                <path class="svg-ellipse"
                  d="M524.259 93.8344C579.319 134.247 621.974 192.466 642.478 263.13C662.982 333.794 658.114 405.803 633.236 469.411" />

                <a class="svg-link" href="#">
                  <g>
                    <path d="M648.346 282.603C645.796 273.428 635.236 238.928 631.744 230.068" stroke="#F0F0F0" stroke-width="9"
                    class="svg-invisible" />
                    <circle class="big-circle" cx="640.006" cy="256.696" r="14.233" transform="rotate(-90 640.006 256.696)"
                    stroke="#BBBCBD" />
                    <circle class="big-circle-inside" cx="640.006" cy="256.696" r="7.99793" />
                  </g>
                </a>

              </g>

              <g class="svg-nav__element" id="green">

                <path class="svg-ellipse"
                  d="M640.853 445.771C620.994 511.119 580.222 570.672 520.361 613.457C460.5 656.241 390.954 675.536 322.696 673.168" />


                <a class="svg-link" href="#">
                  <g>
                    <path d="M506.679 623.517C514.443 618.003 543.308 596.357 550.455 590.065" stroke="#F0F0F0" stroke-width="9"
                      class="svg-invisible" />
                      <circle class="big-circle" cx="529.017" cy="606.412" r="14.233" stroke="#BBBCBD" />
                      <circle class="big-circle-inside" cx="529.017" cy="606.412" r="7.99793" />
                  </g>
                </a>

              </g>

              <g class="svg-nav__element" id="yellow">

                <path class="svg-ellipse"
                  d="M349.199 673.249C280.91 672.049 212.467 649.147 154.922 603.294C97.3784 557.442 59.7723 495.84 43.354 429.543"
                  transform="translate(-20, 0)" />


                <a class="svg-link" href="#">
                  <g>
                    <path d="M117.836 588.379C125.142 594.487 153.411 616.905 161.313 622.22" stroke="#F0F0F0"
                      stroke-width="8" />
                    <circle class="big-circle" cx="138.467" cy="606.412" r="14.233" stroke="#BBBCBD" />
                    <circle class="big-circle-inside" cx="138.467" cy="606.412" r="7.99793"  />
                  </g>
                </a>

              </g>

              <g class="svg-nav__element" id="purple">
                <path class="svg-ellipse"
                  d="M65.6513 468.131C41.0446 404.419 36.4832 332.39 57.2877 261.814C78.0923 191.238 120.995 133.2 176.227 93.0227"
                  transform="translate(-30, 0)" />


                <a class="svg-link" href="#">
                  <g>
                    <path d="M37.7936 230.442C34.6341 239.425 23.5477 273.76 21.3402 283.023" stroke="#F0F0F0"
                      stroke-width="4" />
                    <circle class="big-circle" cx="28.5265" cy="256.696" r="14.233" stroke="#BBBCBD" />
                    <circle class="big-circle-inside" cx="28.5265" cy="256.696" r="7.99793" />
                  </g>
                </a>

              </g>

            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
