<div class="modal-container modal--recall" data-modal="modal-recall">
  <button class="modal-close btns"><span></span></button>

  <div class="modal-header">
    <div class="container">
      <div class="header__logo">
        <div class="header__logo-img">
          <svg class="header__logo-icon">
            <use xlink:href="img/icons/icons.svg#logo"></use>
          </svg>
        </div>
        <div class="header__logo-desc">
          <span>Теорема</span>
          <span>Бизнеса</span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-recall">
    <div class="modal-wrapper">

      <div class="modal-title__wrapper">
        <h2 class="modal-title">Напишите нам
          <div class="modal-title__logo">
            <svg class="modal-title__icon">
              <use xlink:href="img/icons/icons.svg#mail"></use>
            </svg>
          </div>
        </h2>
        <span class="modal-subtitle">и мы найдём решение для вашей ситуации</span>

      </div>

      <div class="modal-content">
        <form action="#" class="modal-form">

          <div class="modal-form__wrapper">

            <div class="modal-form__inputs">

              <div class="modal-form__input">
                <span class="modal-form__input-title">Ваше имя*</span>
                <input type="text" name="recall-name" id="recall-name" placeholder="Алексей Смирнов" required>
              </div>

              <div class="modal-form__input">
                <span class="modal-form__input-title">Ваш e-mail*</span>
                <input type="email" name="recall-email" id="recall-email" placeholder="info_smirnoff@mail.ru" required>
              </div>

            </div>

            <div class="modal-form__inputs">

              <div class="modal-form__input">
                <span class="modal-form__input-title">Ваш телефон*</span>
                <input type="tel" name="recall-phone" id="recall-phone" placeholder="+7 (___) ___-__-__" required>
              </div>

              <div class="modal-form__input">
                <span class="modal-form__input-title">Название компании*</span>
                <input type="text" name="recall-company" id="recall-company" placeholder="Теорема Бизнеса" required>
              </div>

            </div>

            <div class="modal-form__input-full">
              <span class="modal-form__input-title">Ваш вопрос</span>
              <textarea name="recall-question" id="recall-question"
                placeholder="Задать вопрос можно в этой строке"></textarea>
            </div>

            <div class="modal-form__input-full modal-form__submit-container">
              <label class="modal-form__label" for="formAgree">
                <input class="visually-hidden" type="checkbox" name="formAgree" id="formAgree" required>
                <span class="modal-form__label-check"></span>
                <span class="modal-form__label-text">Ознакомлен с политикой в облости обработки персональных данных и
                  даю свое
                  согласие
                  на их обработку</span>

              </label>

              <button type="submit" disabled="true">Отправить</button>
            </div>

          </div>

        </form>
      </div>

    </div>
  </div>

</div>
