<!-- <div class="main__circles-wrapper">
  <div class="main__circles">
    <div class="circle-s">
      <svg class="main__circle">
        <use xlink:href="img/icons/icons.svg#ellipse-s"></use>
      </svg>
    </div>

    <div class="circle-m">
      <svg class="main__circle">
        <use xlink:href="img/icons/icons.svg#ellipse-m"></use>
      </svg>
    </div>
  </div>
</div> -->

<main class="main">

  <div class="container">

    <nav class="nav">
      <ul class="nav-list">

        <li class="nav-item">
          <a href="#" class="nav-link">Внедрение ERP систем</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Продукты на базе 1С</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Интеграция с 1С</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Консалтинг</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Поддержка 1С</a>
        </li>

      </ul>
    </nav>

    <div class="main-slider">
      <div class="main-slider__wrapper">
        <div class="main-slider__item">

          <div class="main-slider__left">
            <h2 class="main-title">
              <span class="theme-red">Внедрение</span>
              ERP систем
            </h2>

            <div class="main-desc">
              Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности требуют
              определенияи уточнения новых предложений.
            </div>

            <div class="main-btns">
              <a href="#" class="btn btn-full">Подробнее</a>
              <a href="#" class="btn">Услуги</a>
            </div>
          </div>

          <div class="main-slider__right"></div>

        </div>
        <div class="main-slider__item"></div>
        <div class="main-slider__item"></div>
        <div class="main-slider__item"></div>
        <div class="main-slider__item"></div>
      </div>

      <div class="main-slider__pagination"></div>
    </div>

  </div>

</main>
