<main class="main">

  <div class="container">

    <div class="main-content">
      <div class="main-slider swiper-container">

        <nav class="nav">
          <ul class="nav-list">

            <li class="nav-item">
              Внедрение ERP систем
            </li>
            <li class="nav-item">
              Продукты на базе 1С
            </li>
            <li class="nav-item">
              Интеграция с 1С
            </li>
            <li class="nav-item">
              Консалтинг
            </li>
            <li class="nav-item">
              Поддержка 1С
            </li>

          </ul>
        </nav>

        <div class="main-slider__wrapper swiper-wrapper">
          <div class="main-slider__item swiper-slide" data-color="red">

            <div class="main-slider__left">
              <h2 class="main-title">
                <span class="theme-color">Внедрение</span>
                ERP систем
              </h2>

              <div class="main-desc">
                Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности требуют
                определения и уточнения новых предложений.
              </div>

              <div class="main-btns">
                <a href="#" class="btn btn-full">Подробнее</a>
                <a href="#" class="btn">Услуги <span class="arrow"></span></a>
              </div>
            </div>

            <div class="main-slider__right">

              <div class="main-slider__img">
                <picture>
                  <img src="../img/illustration1.svg">
                  <!-- <img src="../img/illustration1.png"> -->
                </picture>
              </div>

            </div>

          </div>
          <div class="main-slider__item swiper-slide" data-color="blue">

            <div class="main-slider__left">
              <h2 class="main-title">
                <span class="theme-color">Продукты</span>
                на базе 1С
              </h2>

              <div class="main-desc">
                С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу
                специалистов
                участие в формировании соответствующий условий активизации.
              </div>

              <div class="main-btns">
                <a href="#" class="btn btn-full">Подробнее</a>
                <a href="#" class="btn">Услуги <span class="arrow"></span></a>
              </div>
            </div>

            <div class="main-slider__right">

              <div class="main-slider__img">
                <picture>
                  <img src="../img/illustration2.svg">
                  <!-- <img src="../img/illustration2.png"> -->
                </picture>
              </div>

            </div>

          </div>
          <div class="swiper-slide main-slider__item" data-color="green">
            <div class="main-slider__left">
              <h2 class="main-title">
                <span class="theme-color">Интеграция</span>
                с 1С
              </h2>

              <div class="main-desc">
                С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу участие
                в формировании соответствующий условий активизации.
              </div>

              <div class="main-btns">
                <a href="#" class="btn btn-full">Подробнее</a>
                <a href="#" class="btn">Услуги <span class="arrow"></span></a>
              </div>
            </div>

            <div class="main-slider__right">


              <div class="main-slider__img">
                <picture>
                  <img src="../img/illustration3.svg">
                  <!-- <img src="../img/illustration3.png"> -->
                </picture>
              </div>

            </div>

          </div>
          <div class="main-slider__item swiper-slide" data-color="yellow">
            <div class="main-slider__left">
              <h2 class="main-title">
                <span class="theme-color">Консалтинг</span>
              </h2>

              <div class="main-desc">
                Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания
                по
                разработке существенных финансовых и административных условий. Разнообразный и богатый опыт постоянный
                количественный рост
                и сфера нашей активности требуют от нас анализа форм развития
              </div>

              <div class="main-btns">
                <a href="#" class="btn btn-full">Подробнее</a>
                <a href="#" class="btn">Услуги <span class="arrow"></span></a>
              </div>
            </div>

            <div class="main-slider__right">


              <div class="main-slider__img">
                <picture>
                  <img src="../img/illustration4.svg">
                  <!-- <img src="../img/illustration4.png"> -->
                </picture>
              </div>

            </div>

          </div>
          <div class="main-slider__item swiper-slide" data-color="purple">
            <div class="main-slider__left">
              <h2 class="main-title">
                <span class="theme-color">Поддержка 1С</span>
              </h2>

              <div class="main-desc">
                Таким образом начало повседневной работы по формированию
                позиции в значительной степени обуславливает создание
                позиций, занимаемых участниками в отношении поставленных
                задач
              </div>

              <div class="main-btns">
                <a href="#" class="btn btn-full">Подробнее</a>
                <a href="#" class="btn">Услуги <span class="arrow"></span></a>
              </div>
            </div>

            <div class="main-slider__right">

              <div class="main-slider__right-content">
                <div class="main-slider__img">
                  <picture>
                    <img src="../img/illustration5.svg">
                    <!-- <img src="../img/illustration5.png"> -->
                  </picture>
                </div>
              </div>




            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</main>
