<div class="modal--search modal-container" data-modal="modal-search">
  @include('.\modal-header.html')

  <div class="search">
    <div class="search-container">
      <div class="search-wrapper">
        <h4 class="search-title">Введите запрос</h4>
        <div class="search-bar">
          <label class="search-label" for="search">
            <input class="search-input" type="search" name="search" id="search" result="5">
            <div class="btn-delete">
            </div>
          </label>

          <button type="submit" class="btn search-btn">Найти</button>
        </div>
      </div>
    </div>
  </div>
</div>
