<div class="modal-container modal--menu">
  <button class="modal-close"><span></span></button>

  <div class="modal-menu">
    <div class="modal-menu__container">
      <ol>
        <li class="modal-menu__item">
          <a href="#" class="modal-menu__link">О компании</a>
        </li>
        <li class="modal-menu__item">
          <a href="#" class="modal-menu__link">Услуги</a>
          <div class="modal-menu__desc">

            <div class="flex-jc-sb">
              <div class="modal-menu__desc-content">
                <h5 class="modal-menu__desc-title">
                  <a href="#" class="modal-menu__desc-link">Внедрение ERP систем</a>
                </h5>
                <ul class="modal-menu__desc-list">
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Производство</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Финансы</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Управленческий учет</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Продажи и CRM</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Логистика, Закупки и склад</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Все блоки автоматизации</a>
                  </li>
                </ul>
              </div>

              <div class="modal-menu__desc-content">
                <h5 class="modal-menu__desc-title">
                  <a href="#" class="modal-menu__desc-link">Продукты на базе 1С</a>
                </h5>
                <ul class="modal-menu__desc-list">
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Бухгалтерия</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Предприятие</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Торговля</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Автоматизация</a>
                  </li>
                </ul>
              </div>

              <div class="modal-menu__desc-content">
                <h5 class="modal-menu__desc-title">
                  <a href="#" class="modal-menu__desc-link">Интеграция с 1С</a>
                </h5>
                <ul class="modal-menu__desc-list">
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Axapta</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">ЗУП</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">УПП</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Битрикс</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Другие</a>
                  </li>
                </ul>
              </div>

              <div class="modal-menu__desc-content">
                <h5 class="modal-menu__desc-title">
                  <a href="#" class="modal-menu__desc-link">Консалтинг</a>
                </h5>
                <ul class="modal-menu__desc-list">
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Бизнес анализ</a>
                  </li>
                  <li class="modal-menu__desc-item">
                    <a href="#" class="modal-menu__desc-link">Оптимизация и реинжиниринг</a>
                  </li>
                </ul>
              </div>

              <div class="modal-menu__desc-content">
                <h5 class="modal-menu__desc-title">
                  <a href="#" class="modal-menu__desc-link">Поддержка 1С</a>
                </h5>
                <ul class="modal-menu__desc-list">
                </ul>
              </div>
            </div>

          </div>
        </li>
        <li class="modal-menu__item">
          <a href="#" class="modal-menu__link">Решения</a>
        </li>
        <li class="modal-menu__item">
          <a href="#" class="modal-menu__link">Продукты</a>
        </li>
        <li class="modal-menu__item">
          <a href="#" class="modal-menu__link">Кейсы</a>
        </li>
        <li class="modal-menu__item">
          <a href="#" class="modal-menu__link">Контакты</a>
        </li>
      </ol>
    </div>
  </div>


</div>
</div>
